
{% extends "base.html" %}
{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "contents/css/detail.css" %}" >
    <title>HTML Tables</title>
{% endblock %}
{% block content %}
    <hr>
<div class="feed">
    <table style="width:100%">
        <tr style="background-color:white">
            <img src="paintary\static\image\a.jpg">
            <img src="paintary\static\image\b.jpg">
            <img src="paintary\static\image\c.jpg">
        </tr>
        <tr>
            <img src="paintary\static\image\d.jpg">
            <img src="paintary\static\image\e.jpg">
            <img src="paintary\static\image\f.jpg">
        </tr>
        <tr>
            <img src="paintary\static\image\g.jpg">
            <img src="paintary\static\image\h.jpg">
            <img src="paintary\static\image\i.jpg">
        </tr>
    </table>
</div>
{% endblock %}
